<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>563182876407-3n35bseqovngm4g2h0nstvn9j5thh0ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563182876407-3n35bseqovngm4g2h0nstvn9j5thh0ai</string>
	<key>API_KEY</key>
	<string>AIzaSyBT7U1o6bwx3phANv-oSP5z3Qg_bjk4HXA</string>
	<key>GCM_SENDER_ID</key>
	<string>563182876407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huextrat.cryptoshadow</string>
	<key>PROJECT_ID</key>
	<string>cryptoshadow-huextrat</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoshadow-huextrat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563182876407:ios:249d9530b31e0e6c</string>
	<key>DATABASE_URL</key>
	<string>https://cryptoshadow-huextrat.firebaseio.com</string>
</dict>
</plist>